<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Hello,Spring boot')">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
    </nav>

    <main role="main" class="container">

        <div class="bg-light p-5 rounded">
            <h1>Spring boot tutorial</h1>
            <p class="lead">Spring boot 를 이용해 웹 페이지 제작.<br> Spring Security, JPA를 이용해 보안 설정과 데이터 다루기</p>
        </div>

    </main>
    <footer th:replace="fragments/common :: footer"></footer>
</body>


</html>